/*Transition between 2 routes on index.js*/

.siteLayoutTransition-enter {
  transform: translateY(100%);
  z-index: 10;
  height: 100%;
}

.siteLayoutTransition-enter-active {
  transform: translateY(0%);
  z-index: 10;
  height: 100%;
  transition: transform 800ms ease-in-out;
}

.siteLayoutTransition-leave {
  height: 100%;
  transform: translateY(0%);
}

.siteLayoutTransition-leave-active {
  height: 100%;
  transform: translateY(-100%);
  transition: transform 800ms ease-in-out;
}

.pageContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Main component flip animation used on Home.js*/
.component-appear {
  transform: scale(0);
}

.component-appear-active {
  transform: scale(1);
  transition: transform 800ms linear;
}

.component-enter {
  transform: rotateY(90deg) rotateX(90deg);
}

.component-enter-active {
  transform: rotateY(0deg) rotateX(0deg);
  transition: transform 300ms ease-out 300ms;
}

.component-leave {
  transform: rotateY(0deg) rotateX(0deg);
}

.component-leave-active {
  transform: rotateY(90deg) rotateX(-90deg);
  transition: transform 300ms ease-in;
}

/*Rotating active project thumb on ProjectsContainer.js*/
.projectFlip-enter {
  transform: rotateY(-90deg);
}

.projectFlip-enter-active {
  transform: rotateY(0deg);
  transition: transform 400ms ease-out 200ms;
}

.projectFlip-leave {
  transform: rotateY(0deg);
}

.projectFlip-leave-active {
  transform: rotateY(90deg);
  box-shadow: 0px 0px 10px 5px purple;
  transition:
    transform 200ms ease-in,
    box-shadow 200ms ease-in;
}

/*Zooming in on fullscreen project on ProjectsContainer*/
.projectShow-appear {
  transform: scale(.1);
}

.projectShow-appear-active {
  transform: scale(1);
  transition: transform 300ms ease-in;
}

.projectShow-leave {
  transform: scale(1);
}

.projectShow-leave-active {
  transform: scale(.1);
  transition: transform 2s ease-in;
}

/*Zoom in and out on contact form from ContactContainer*/
.showForm-enter {
  transform: scale(0);
  transition: transform 500ms ease-in;
}

.showForm-enter-active {
  transform: scale(1);
}

.showForm-leave {
  transform: scale(1);
  transition: transform 500ms ease-in;
}

.showForm-leave-active {
  transform: scale(0);
}

/*Rotating picture of me on MainContainer.js*/
@keyframes picture-rotate {
  0% {
    transform: rotateY(0deg);
  }
  25% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  75% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/*Form animation upon submission, ContactContainer*/
@keyframes formFlip {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(90deg);
  }
}

/*Showing success after form submission, ContactContainer*/
@keyframes formSuccess {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Rotating icons on contact table, from ContactContainer and ProjectsFullscreen*/
@keyframes contact-hover {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*Toggle stroke for D3 bubbles in SkillsD3*/
@keyframes stroke {
  0% {
    stroke-opacity: 1;
  }
  100% {
    stroke-opacity: .3;
  }
}