/*Transition between 2 routes on index.js*/

.routeSlideUp-enter {
  transform: translateY(100%);
  z-index: 10;
  height: 100%;
}

.routeSlideUp-enter-active {
  transform: translateY(0%);
  z-index: 10;
  height: 100%;
  transition: transform 800ms ease-in-out;
}

.routeSlideUp-leave {
  height: 100%;
  transform: translateY(0%);
}

.routeSlideUp-leave-active {
  height: 100%;
  transform: translateY(-100%);
  transition: transform 800ms ease-in-out;
}

/*slide down*/
.routeSlideDown-enter {
  transform: translateY(-100%);
  z-index: 10;
  height: 100%;
}

.routeSlideDown-enter-active {
  transform: translateY(0%);
  z-index: 10;
  height: 100%;
  transition: transform 800ms ease-in-out;
}

.routeSlideDown-leave {
  height: 100%;
  transform: translateY(0%);
}

.routeSlideDown-leave-active {
  height: 100%;
  transform: translateY(100%);
  transition: transform 800ms ease-in-out;
}

.pageContainer {
  height: 100%;
  width: 100%;
  position: absolute;
}

/*Main component flip animation used on Home.js*/
.component-appear {
  transform: scale(0);
}

.component-appear-active {
  transform: scale(1);
  transition: transform 800ms linear;
}

.component-enter {
  transform: rotateY(90deg) rotateX(90deg);
}

.component-enter-active {
  transform: rotateY(0deg) rotateX(0deg);
  transition: transform 300ms ease-out 300ms;
}

.component-leave {
  transform: rotateY(0deg) rotateX(0deg);
}

.component-leave-active {
  transform: rotateY(90deg) rotateX(-90deg);
  transition: transform 300ms ease-in;
}

/*Rotating active project thumb on ProjectsContainer.js*/
.projectFlip-enter {
  transform: rotateY(-90deg);
}

.projectFlip-enter-active {
  transform: rotateY(0deg);
  transition: transform 400ms ease-out 200ms;
}

.projectFlip-leave {
  transform: rotateY(0deg);
}

.projectFlip-leave-active {
  transform: rotateY(90deg);
  box-shadow: 0px 0px 10px 5px purple;
  transition:
    transform 200ms ease-in,
    box-shadow 200ms ease-in;
}

/*Zooming in on fullscreen project on ProjectsContainer*/
.projectsFullscreenTransition-enter {
  z-index: 10;
  position: absolute;
  top: 0;
  transform: scale(.3);
}

.projectsFullscreenTransition-enter-active {
  z-index: 10;
  position: absolute;
  top: 0;
  transform: scale(1);
  transition: transform 500ms ease-in 0ms;
}

.projectsFullscreenTransition-leave {
  position: absolute;
  top: 0;
  opacity: 1;
}

.projectsFullscreenTransition-leave-active {
  position: absolute;
  top: 0;
  opacity: 0;
  transition: opacity 250ms ease-in;
}


.projectsCarouselTransition-enter {
  opacity: 0;
}

.projectsCarouselTransition-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in 100ms;
}

.projectsCarouselTransition-leave {
  position: absolute;
  top: 0;
  transform: translate(0,0) scale(1);
  opacity: 1;
}

.projectsCarouselTransition-leave-active {
  position: absolute;
  top: 0;
  transform: translate(-100%,-100%) scale(.3);
  opacity: 0;
  transition: transform 250ms ease-in,
              opacity 250ms ease-in;
}



/*Zoom in and out on contact form from ContactContainer*/
.showForm-enter {
  transform: scale(0);
  transition: transform 500ms ease-in;
}

.showForm-enter-active {
  transform: scale(1);
}

.showForm-leave {
  transform: scale(1);
  transition: transform 500ms ease-in;
}

.showForm-leave-active {
  transform: scale(0);
}

/*Rotating picture of me on MainContainer.js*/
@keyframes picture-rotate {
  0% {
    transform: rotateY(0deg);
  }
  40% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  60% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}

/*Form animation upon submission, ContactContainer*/
@keyframes formFlip {
  0% {
    transform: rotateX(0);
  }

  100% {
    transform: rotateX(90deg);
  }
}

/*Showing success after form submission, ContactContainer*/
@keyframes formSuccess {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*Rotating icons on contact table, from ContactContainer and ProjectsFullscreen*/
@keyframes contact-hover {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  75% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/*Toggle stroke color for D3 bubbles in SkillsD3*/
@keyframes colorstroke {
  0% {
    stroke: red;
  }
  20% {
    stroke: yellow;
  }
  40% {
    stroke: green;
  }
  60% {
    stroke: blue;
  }
  80% {
    stroke: purple;
  }
  100% {
    stroke: red;
  }
}

/*Blog posts*/
.blogPostTransition-appear {
  opacity: 0;
}

.blogPostTransition-appear-active {
  opacity: 1;
  transition: opacity 1s linear;
}

/*.blogPostTransition-appear {
  transform: translateX(100%);
}

.blogPostTransition-appear-active {
  transform: translateX(0%);
  transition: transform 1s linear;
}*/

.blogPostTransition-leave {
  opacity: 1;
}

.blogPostTransition-leave-active {
  opacity: 0;
  transition: opacity 1s linear;
}

/*blog content transitions*/
.blogContentTransition-enter {
  max-height: 0vh;
  opacity: .8;
}

.blogContentTransition-enter-active {
  max-height: 100vh;
  opacity: 1;
  transition: max-height 1000ms ease-in 500ms,
              opacity 1000ms ease-in 500ms;
}

.blogContentTransition-leave {
  max-height: 100vh;
  opacity: 1;
}

.blogContentTransition-leave-active {
  max-height: 0vh;
  opacity: .8;
  transition: max-height 500ms ease-out,
              opacity 500ms ease-out;
}