@media only screen and (min-device-width: 1500px) and (max-width: 1000px) {

  .pageContainer {
    min-width: 700px;
  }

  #blogPostsDiv #blogHeaderLeft, #blogPostsDiv #blogHeaderRight {
    font-size: 14px;
    padding: 5px;
  }

  header, article {
    min-width: 600px;
  }

  .blogIndexDivs {
    width: 75%;
    float: none;
    margin: auto;
  }

  .blogIndexDivs div {
    min-height: 120px;
    display: block;
    box-shadow: none;
 /*   border: 1px solid black;*/
    box-shadow: 0px 0px 5px black;
    border-radius: 10px;
    min-width: 400px;

  }

  .blogIndexDivs div h2 {
    font-size: 16px;
  }

  .blogIndexDivs div p {
    font-size: 14px;
  }

  #blogDropdownList {
    min-width: 400px;
  }


}


@media only screen and (max-device-width: 1000px) {
  #blogNav {
    height: 200px;
  }

  #blogNavGifDiv {
    height: 200px;
  }

  #blogNav td {
    height: 200px;
    font-size: 40px;
  }

  #blogNav td a {
    font-size: 45px;
  }

  #blogBackground, #blogPostsDiv {
    margin-top: 200px;
  }

  #blogPostsDiv {
    padding: 20px 0px;
  }

  #blogPostsDiv header {
    display: block;
  }

  #blogPostsDiv #blogHeaderLeft, #blogPostsDiv #blogHeaderRight {
    width: 100%;
    font-size: 30px;
    padding: 5px;
  }

  #blogPostsDiv article h1 {
    font-size: 60px;
  }

  #blogPostsDiv article h3 {
    font-size: 40px;
    text-align: center;
  }

  #blogPostsDiv article p {
    font-size: 35px;
    line-height: 70px;
  }

  #blogPostsDiv article ol {
    font-size: 35px;
  }

  #blogPostsDiv img {
    width: 100%;
  }

  .blogIndexDivs {
    width: 100%;
    float: none;
  }

  .blogIndexDivs div {
    min-height: 200px;
    display: block;
    box-shadow: none;
    border: 1px solid black;
    border-radius: 20px;

  }

  .blogIndexDivs div h2 {
    font-size: 30px;
  }

  #blogDropdownList {
    top: 200px;
    width: 100%;
    z-index: 10;
  }




}