@media only screen and (max-width: 1000px) {
  #blogNav {
    height: 200px;
  }

  #blogBackground, #blogPostsDiv {
    margin-top: 200px;
  }

  #blogPostsDiv {
    padding: 20px 0px;
  }

  #blogPostsDiv header {
    display: block;
  }

  #blogPostsDiv #blogHeaderLeft, #blogPostsDiv #blogHeaderRight {
    width: 100%;
    font-size: 30px;
    padding: 5px;
  }

  #blogPostsDiv article h1 {
    font-size: 60px;
  }

  #blogPostsDiv article h3 {
    font-size: 40px;
  }

  #blogPostsDiv article p {
    font-size: 30px;
  }

  #blogPostsDiv article ol {
    font-size: 25px;
  }


}