#blogBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .2;
  z-index: -2;
}

#blogPostsDiv {
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
}

#blogBackground, #blogPostsDiv {
  margin-top: 100px;
}

#blogPostsDiv h1, h2, h3 {
  text-align: center;
}

#blogPostsDiv h1 {
  padding: 10px;
}

#blogPostsDiv h2{
  font-family: 'Krona One', sans-serif;
}

#blogPostsDiv p {
  font-size: 1.1em;
  text-indent: 30px;
}

#blogPostsDiv ol {
  padding: 10px 40px;
  font-size: 1.2em;
}

#blogPostsDiv a {
  font-family: 'Krona One', sans-serif;
  transition: color 400ms linear;
}

#blogPostsDiv a:hover {
  color: black;
}

#blogPostsDiv article, #blogPostsDiv header {
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .3);
  border-radius: 5px;
  margin: 0px auto 20px;
  max-width: 1200px;
}

#blogPostsDiv header {
  display: flex;
}

#blogHeaderLeft, #blogHeaderRight {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#blogPostsDiv section {
  padding: 0px 20px 10px;
}

#blogPostsDiv section h3 {
  text-align: left;
  padding-top: 20px;
}

#blogPostsDiv img {
  max-height: 100%;
  max-width: 100%;
}

#blogPostsDiv .articleBackground {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: rgba(255, 255, 255, .6);
  z-index: -1;
}

#blogNav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

#blogNavGif {
  height: 200%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#blogNav table {
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 4px black;
}

#blogNav td {
  width: 50%;
}
