#blogBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  opacity: .2;
  z-index: -2;
}

#blogPostsDiv {
  padding: 20px;
}

#blogBackground, #blogPostsDiv {
  padding-top: 120px;
}

#blogPostsDiv h1 {
  text-align: center;
}

#blogPostsDiv p {
  font-size: 1.1em;
  text-indent: 30px;
}

#blogPostsDiv ol {
  padding: 10px 40px;
  font-size: 1.2em;
}

#blogPostsDiv article {
  position: relative;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, .3);
  border-radius: 5px;
  margin: 0px auto 20px;
  max-width: 1200px;
}

#blogPostsDiv section {
  padding: 20px;
}

#blogPostsDiv img {
  max-height: 100%;
  max-width: 100%;
}

#blogPostsDiv .articleBackground {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  background: rgba(255, 255, 255, .6);
  z-index: -1;
}

#blogNav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

#blogNavGif {
  height: 200%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

#blogNav table {
  height: 100%;
  width: 100%;
  box-shadow: 0px 2px 4px black;
}

#blogNav td {
  width: 50%;
}
