@media only screen and (min-device-width: 1500px) and (max-width: 1000px) {
  .mainParagraph {

  }

}


@media only screen and (max-device-width: 1000px) {

  .mainParagraph {
    font-size: 35px;
    line-height: 70px;
    padding: 20px 0px;
  }

  .mainImg {
    height: 400px;
    width: 400px;
  }

}