@media only screen and (max-width: 1000px) {

  #projectsContainerDiv {
    min-height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .projectDiv {
    width: 80vw;
    margin: 20px auto;
    overflow: hidden;
    height: 800px;
    z-index: 1;
    background: white;
  }

  .projectsThumb {
    height: 100%;
  }

  .hoverProjectsThumb {
    height: 100%;
  }

  .projectsThumbHeader {
    height: 50%;
  }

  .thumbImgDiv {
    height: 50%;
    max-height: 50%;
    width: 100%;
  }

  .thumbImgDiv img {
    min-height: 100%;
    min-width: 100%;
  }

  .projectsThumb h2 {
    font-size: 50px;
  }

  .projectsThumb p {
    font-size: 40px;
  }

/*  projects carousel circles*/
  .listCircle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }

/*  projects carousel arrows*/
  .arrowDiv {
    border: 50px solid transparent;
    z-index: 0;
  }

  .leftArrowDiv {
    border-right: 70px solid rgba(45, 6, 56, 1);
    left: -40px;
  }

  .leftArrowDiv:hover {
    border-right: 70px solid rgba(131, 11, 168, 1);
  }

  .rightArrowDiv {
    border-left: 70px solid rgba(45, 6, 56, 1);
    right: -40px;
  }

  .rightArrowDiv:hover {
    border-left: 70px solid rgba(131, 11, 168, 1);
  }

  .hiddenThumbDiv h2 {
    font-size: 50px;
    padding: 30px;
  }

  /*projects fullscreen*/



}