@media only screen and (max-width: 1000px) {

  html, body, #app, #app > div {
    height: 100vh;
    width: 100%;
  }

  #layoutDiv {
    height: 100vh;
  }

  .homeContainer {
    width: 100%;
    height: 90vh;
    padding: 0;
  }

  #contentSpace {
    width: 98%;
  }

  .contentContainer {
    min-height: 75vh;
    width: 100%;
  }

  .contentContainer > div {
    min-height: 75vh;
    width: 100%;
  }

  #siteNav td {
    height: 10vh;
    color: white;
    font-weight: bold;
  }

  #siteNav a {
    font-size: 40px;
  }

  .component-enter {
    transform: rotateX(90deg);
  }

  .component-enter-active {
    transform: rotateX(0deg);
    transition: transform 300ms ease-out 300ms;
  }

  .component-leave {
    transform: rotateX(0deg);
  }

  .component-leave-active {
    transform: rotateX(90deg);
    transition: transform 300ms ease-in;
  }



 

  .contactContainer {
 
  }

  .contactTextarea {
    width: 700px;
    height: 400px;
  }
  .contactInput {
    width: 345px;
    margin-top: 50px;
  }

  .contactPhone:before {
    content: "\260E";
    font-size: .9em;
    color: black;
  }

  .contactEmail:before {
    content: "\2709";
    font-size: .9em;
    color: black;
  }

  .contactIMG {
    overflow: visible;
  }


}