@media only screen and (max-width: 1000px) {
  * {
    font-size: 1.05em;
  }
  html, body, #app, #app > div {
    height: 100vh;
    width: 100%;
  }

  #layoutDiv {
    height: 100vh;
  }
  .homeContainer {
    width: 100%;
    height: 90vh;
  }
  #contentSpace {
    width: 98%;
  }
  .contentContainer {
    min-height: 75vh;
  }

  .contentContainer > div {
    min-height: 75vh;
    width: 100%;
  }

  .skillsContainer svg {
    min-height: 75vh;
  }

  #d3SkillsContainer {
    min-height: 75vh;
  }

  #projectsContainerDiv {
    min-height: 75vh;

  }

  .projectDiv {
 
  }


  nav td {
    height: 10vh;
    color: white;
    font-weight: bold;
  }

  .component-enter {
    transform: rotateX(90deg);
  }

  .component-enter-active {
    transform: rotateX(0deg);
    transition: transform 300ms ease-out 300ms;
  }

  .component-leave {
    transform: rotateX(0deg);
  }

  .component-leave-active {
    transform: rotateX(90deg);
    transition: transform 300ms ease-in;
  }

  .projectDiv {
    width: 75vw;
    margin: auto;
    margin-top: 20%;
  }

  .projectsThumb {
    height: 600px;
  }

  .contactContainer {
 
  }

  .contactTextarea {
    width: 700px;
    height: 400px;
  }
  .contactInput {
    width: 345px;
    margin-top: 50px;
  }
}