@media only screen and (min-device-width: 1500px) and (max-width: 1000px) {
  .skillsButton {
    width: 120px;
    font-size: 14px;
  }

  .hiddenD3Text, .shownD3Text {
    font-size: 14px;
  }

}


@media only screen and (max-device-width: 1000px) {

  #d3SkillsContainer {
    min-height: 75vh;
  }

  #skillsSVGDiv {
    height: 60%;
  }

  .skillsContainer svg {
    min-height: 75vh;
  }


  .skillsButton {
    width: 250px;
    font-size: 30px;
  }

  .hiddenD3Text {
    font-size: 20px;
  }

  .shownD3Text {
    font-size: 20px;
  }

}