.skillsContainer {
  width: 100%;
  min-height: 800px;
}

#d3SkillsContainer {
  height: 600px;
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.tooltipDiv {
  text-align: center;
  padding: 5px 20px;
  position: relative;
  border-radius: 10px;
  border: 2px solid gray;
}



.tooltipDiv:after {
  content: '';
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  animation: tooltip-animation 1s linear alternate infinite;
  position: absolute;
  top: 36px;
  left: 5px;
  z-index: -1;
}

@keyframes tooltip-animation {
  0% {
    border-top: 15px solid #595857;
  }
  100% {
    border-top: 15px solid black;
  }
}

#d3ButtonDiv {
  position: absolute;
  width: 100%;
}

.skillsButton {
  padding: 20px;
  margin: 10px;
  background: rgba(244, 245, 247, .5);
  border: none;
  min-width: 120px;
}

.skillsButton:focus {
  outline: 0;
}

.skillsButton:hover {
  font-weight: bold;
  cursor: pointer;
}

.d3Active {
  background: lightblue;
}

.d3Circle {
  stroke-width: 1px;
  animation: colorstroke 12000ms linear infinite;
}

/*skillsTable*/
/*#skillsList {
  margin: 10px;
  background: rgba(243, 220, 244, 1);
}

#skillsList h2 {
  text-align: left;
  clear: both;
    background: linear-gradient(to right,
    rgba(254, 244, 255, 1),
    rgba(243, 220, 244, 1)
    
  );
}

#skillsList ul {
  list-style-type: none;
  display: table;
}
#skillsList li {
  font-family: 'Krona One', sans-serif;
  float: left;
  padding: 20px;
  min-width: 225px;
  max-width: 225px;
  font-size: 1.1em;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

#skillsList p {
  clear: both;
}
*/

.skillsTableDiv {
  width: 33.3%;
  float: left;
  min-width: 250px;
}

.skillsTableDiv ul {
  list-style-type: none;
}

.skillsTableDiv li {
  font-size: 25px;
  padding: 10px;
}