.skillsContainer {
  width: 100%;
  min-height: 800px;
}

#d3SkillsContainer {
  width: 90%;
  margin: auto;
  position: relative;
}

#skillsSVGDiv {
 
  height: 600px;
  width: 100%;
  position: relative;
}

.tooltipDiv {
  text-align: center;
  padding: 5px 20px;
  position: relative;
  border-radius: 10px;
  border: 2px solid gray;
}



.tooltipDiv:after {
  content: '';
  width: 0px;
  height: 0px;
  border: 15px solid transparent;
  animation: tooltip-animation 1s linear alternate infinite;
  position: absolute;
  top: 30px;
  left: 5px;
  z-index: -1;
}

@keyframes tooltip-animation {
  0% {
    border-top: 15px solid #595857;
  }
  100% {
    border-top: 15px solid black;
  }
}

#d3ButtonDiv {
  /*position: absolute;*/
  width: 100%;
}

.skillsButton {
  padding: 20px;
  margin: 10px;
  background: rgba(244, 245, 247, .5);
  border: none;
  width: 200px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 0px 1px black;
}

.skillsButton:focus {
  outline: 0;
}

.skillsButton:hover {
  font-weight: bold;
  cursor: pointer;
}

.d3Active {
  background: #cccdce;
}

.d3Circle {
  stroke-width: 2px;
  animation: colorstroke 8000ms linear infinite;
}



.hiddenD3Text {
  font-size: 18px;
  opacity: 0;
  transition: opacity 1000ms linear;
}

.shownD3Text {
  font-size: 18px;
  opacity: 1;
  transition: opacity 2000ms linear 1000ms;
}