* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lustria', Sans-Serif;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: blue;
}

h1 {
  padding: 20px;
  color: black;
  font-family: 'Marcellus', Serif;
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
}

h2 {
  padding: 10px;
  font-family: 'Krona One', Sans-Serif;
}

p {
  font-family: 'Lustria', Sans-Serif;
  font-size: 16px;
  padding: 15px 20px;
  text-align: left;
  line-height: 40px;
}

.homeContainer {
  width: 100%;
  padding: 20px;
  color: orange;
}

#layoutDiv {
  min-height: 100vh;
  overflow: auto;
}

#layoutBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#layoutBackground img {
  min-height: 100%;
  min-width: 100%;
}

#layoutBackground > div {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background: rgba(0, 0, 0, .5);
}

.headerContainer {
  width: 100%;
  min-height: 1000px;
  text-align: center;
  border-bottom: 10px solid white;
  color: white;
}

.contentContainer {
  position: absolute;
  background: white;
  width: 100%;
  min-height: 100%;
  border-radius: 2px;
  box-shadow: 0px 0px 10px black;
  padding: 10px;
  margin-bottom: 10px;
}

#contentSpace {
  width: 90%;
  max-width: 1200px;
  min-height: 600px;
  overflow: visible;
  text-align: center;
  margin: auto;
  color: black;
  position: relative;
}


::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 4px rgba(0,0,0,0); 
    border-radius: 5px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .9); 
}