* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', Serif;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: blue;
}

h1 {
  padding: 20px;
  color: black;
  font-family: 'Marcellus';
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
}

h2 {
  padding: 10px;
  font-family: 'Cousine';
}

p {
  padding: 10px;
  font-family: 'Lustria';
}

.homeContainer {
  width: 100%;
  padding: 20px;
  color: orange;
}

#layoutDiv {
  min-height: 100vh;
  overflow: auto;
}

#layoutBackground {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#layoutBackground img {
  min-height: 100%;
  min-width: 100%;
}

.headerContainer {
  width: 100%;
  min-height: 1000px;
  text-align: center;
  border-bottom: 10px solid white;
  color: white;
}

.contentContainer {
  position: absolute;
  background: white;
  width: 100%;
  min-height: 100%;
  box-shadow: 0px 0px 50px 5px black, 0px 0px 10px 2px rgba(45, 6, 56, 1) inset;
  padding: 10px;
  margin-bottom: 10px;
}

#contentSpace {
  width: 90%;
  max-width: 1200px;
  min-height: 600px;
  overflow: visible;
  text-align: center;
  margin: auto;
  color: black;
  position: relative;
}
