/*@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:700i');*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Khula', Serif;
}

a {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: blue;
}

h1 {
  padding: 20px;
  color: purple;
  font-family: 'Merriweather Sans';
  font-size: 3em;
  text-shadow: 1px 1px 1px black;
}

h2 {
  padding: 10px;
  font-family: 'Petit Formal Script';
}

p {
  padding: 10px;
}

.homeContainer {
  width: 100%;
/*  background: linear-gradient(to bottom right,
    rgba(45, 6, 56, 1),
    rgba(131, 11, 168, 1)
  );*/

  padding: 20px;
  color: orange;
}

#layoutDiv {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow: auto;
}

.headerContainer {
  width: 100%;
  min-height: 1000px;
  text-align: center;
  border-bottom: 10px solid white;
  color: white;
}

.contentContainer {
  position: absolute;
  background: white;
  width: 100%;
  min-height: 100%;
  box-shadow: 0px 0px 50px 5px black, 0px 0px 10px 2px rgba(45, 6, 56, 1) inset;
  padding: 10px;
  margin-bottom: 10px;
}

.emp {
  font-size: 1.3em;
  font-weight: bold;
}

.mainParagraph {
  font-size: 1.2em;
}

.mainParagraph a {
  transition: color 300ms linear;
}

.mainParagraph a:hover {
  color: darkblue;
}

.mainImg {
  height: 300px;
  width: 300px;
  box-shadow: 0px 0px 5px 2px black;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  animation: picture-rotate 5s linear infinite;
}

.mainImg img {
  height: 100%;
  width: 100%;
}

.projectDiv {
  width: 50%;
  height: 400px;
  margin: auto;
  position: relative;
}

.arrowDiv {
  box-sizing: none;
  height: 0;
  width: 0;
  border: 30px solid transparent;
  position: absolute;
  top: 45%;
  bottom: 45%;
}

.arrowDiv:hover {
  cursor: pointer;
}

.leftArrowDiv {
  border-right: 40px solid rgba(45, 6, 56, 1);
  left: 10px;
}

.leftArrowDiv:hover {
  border-right: 40px solid rgba(131, 11, 168, 1);
}

.rightArrowDiv {
  border-left: 40px solid rgba(45, 6, 56, 1);
  right: 10px;
}

.rightArrowDiv:hover {
  border-left: 40px solid rgba(131, 11, 168, 1);
}

#projectsBackButton {
  top: 30px;
}

#contentSpace {
  width: 90%;
  max-width: 1200px;
  min-height: 600px;
  overflow: visible;
  text-align: center;
  margin: auto;
  color: black;
  position: relative;
}

#siteNav table {
  width: 100%;
  color: white;
}

nav td, nav a, nav a:visited {
  color: white;
  font-weight: none;
  text-align: center;
  font-size: 1.2em;
  font-family: 'Merriweather Sans';
  transition: font-size 100ms ease-in, text-shadow 200ms ease-in;
}

#siteNav td, #siteNav a {
  width: 20%;
  height: 100px;
}

/*#siteNav a, #siteNav a:visited {
  color: white;
}*/

nav td a:hover {
  font-size: 1.6em;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.projectsThumb {
  border: 5px solid black;
  overflow: hidden;
  height: 400px;
  width: 100%;
  margin: auto;
  position: absolute;
  box-shadow: 0px 0px 10px 5px black;
}

.hoverProjectsThumb {
  border: 5px solid black;
  overflow: hidden;
  height: 400px;
  width: 100%;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 10px 5px black;
  position: absolute;
}

.thumbImgDiv {
  width: 100%;
  max-height: 300px;
  border-top: 2px solid black;
  overflow: hidden;
}

.thumbImgDiv img {
  width: 100%;
  height: 100%;
}

.projectsThumbHeader {
  padding: 10px;
}

.hiddenThumbDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
}

.hiddenThumbDiv h2 {
  background: white;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.hidden {
  display: none;
}

/*.nextProjectThumb {
  height: 400px;
  width: 20%;
  background: purple;
  overflow: hidden;
  transform: scale(.5);
  position: absolute;
  left: 50px;
}
*/










.projectFullscreenDiv {
  padding: 10px;
}

.projectFullscreenImgDiv {
  max-height: 300px;
  overflow: hidden;
}

.projectFullscreenImgDiv img {
  height: 100%;
  width: 100%;
}

.projectSkillsList {
  list-style-type: none;
}

.projectSkillsList li {
  float: left;
  padding: 40px;
  font-size: 1.5em;
  width: 33.3%;
  font-family: 'Pacifico', Serif;
}

.projectSkillsList li:hover {
  background: #f9f9f7;
}

.fullscreenHalf {
  float: left;
  width: 50%;
  overflow: hidden;
}

.fullscreenHalf h2 {

}

.fullscreenHalf p {
  font-size: 1.2;
  padding: 10px;
}


/*contact page*/

.contactInput {
  width: 245px;
  padding: 10px;
  margin: 5px;
  background: #fbefff;
  border: 1px solid black;
  box-shadow: 0px 0px 5px .5px black inset;
  font-size: 1.2em;
}

.contactTextarea {
  width: 500px;
  height: 200px;
  padding: 10px;
  background: #fbefff;
  border: 1px solid black;
  box-shadow: 0px 0px 5px .5px black inset;
  font-size: 1.1em;
}

.contactSubmit {
  width: 200px;
  padding: 10px;
  font-size: 1.2em;
}

.contactSubmit:hover {
  box-shadow: 2px 2px 1px 1px black;
  font-weight: bold;
}

.formSubmit {
  animation: formFlip 1s forwards;
}

.contactContainer {
  position: relative;
}

.formSuccess {
  color: green;
  position: absolute;
  top: 250px;
  width: 100%;
  text-align: center;
  animation: formSuccess 2s forwards;
}



.contactTable {
  margin: auto;
  font-size: 1.5em;
}

.contactTable tr {
  background: #fcfcfc;
}

.contactTable tr:hover {
  background: white;
}

.contactTable tr:hover td:first-child {
  animation: contact-hover 500ms linear forwards;
}

.contactTable a:hover {
  text-decoration: none;
  color: darkblue;
}

.contactTable td {
  padding: 5px;
  text-align: left;
}

.contactIMG {
  height: 40px;
  width: 50px;
  overflow: hidden;
}

.contactIMG img {
  max-width: 100%;
  max-height: 100%;
}

.contactPhone {
  display: flex;
  align-items: center;
}

.contactPhone:before {
  content: "\260E";
  font-size: 2em;
  color: black;
}

.contactEmail {
  display: flex;
  align-items: center;
}

.contactEmail:before {
  content: "\2709";
  font-size: 2em;
  color: black;

}

.iconLink:hover img, .iconLink:hover div:before {
  transform: scale(1.2);
}

#h2ClickContact {
  padding: 10px;
  color: purple;
  font-family: 'Khula', Serif;
}

#h2ClickContact:before, #h2ClickContact:after {
  content: "\26E4";
  font-size: 1.2em;
  color: black;
}

#h2ClickContact:hover::before, #h2ClickContact:hover::after {
  display: inline-block;
  animation: contact-hover 2s linear forwards infinite;
}

#h2ClickContact:hover {
  cursor: pointer;
}













/*skills chart*/

.skillsContainer {
  width: 100%;
  min-height: 800px;
}

#d3SkillsContainer {
  height: 600px;
  width: 90%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.tooltipDiv {
  width: 150px;
  text-align: center;
  padding: 10px;
}

.tooltipDiv:after {
  content: '';
  width: 0px;
  height: 0px;
  border: 10px solid transparent;
  border-top: 10px solid black;
  position: relative;
  top: 38px;
  right: 80px;

}

#d3ButtonDiv {
  position: absolute;
  width: 100%;
}

.skillsButton {
  padding: 20px;
  margin: 10px;
  background: rgba(244, 245, 247, .5);
  border: none;
  min-width: 120px;
}

.skillsButton:focus {
  outline: 0;
}

.skillsButton:hover {
  font-weight: bold;
  cursor: pointer;
}

.d3Active {
  background: lightblue;
}

.d3Circle {
  animation: stroke 1000ms linear alternate infinite;
}

/*skillsTable*/
#skillsList {
  margin: 10px;
  background: rgba(243, 220, 244, 1);
}

#skillsList h2 {
  text-align: left;
  clear: both;
    background: linear-gradient(to right,
    rgba(254, 244, 255, 1),
    rgba(243, 220, 244, 1)
    
  );
}

#skillsList ul {
  list-style-type: none;
  display: table;
}
#skillsList li {
  font-family: 'Krona One', sans-serif;
  float: left;
  padding: 20px;
  min-width: 200px;
  max-width: 200px;
  font-size: 1.1em;
  height: 100px;
  position: relative;
  display: flex;
  align-items: center;
}

#skillsList p {
  clear: both;
}



.inactiveCircle {
  background: lightgray;
  transition: background 200ms ease-in;
}

.activeCircle {
  background: purple;
  transition: background 200ms ease-in;
}

.listCircle {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
}

.projectsCirclesList {
  width: 100%;
  padding: 20px;
}