* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Serif;
}

h1 {
  padding: 20px;
}

p {
  padding: 10px;
}

.homeContainer {
  width: 100%;
  min-height: 1000px;
  background: linear-gradient(to bottom right,
    rgba(45, 6, 56, 1),
    rgba(131, 11, 168, 1)
  );
  padding: 60px;
  color: orange;
}

.headerContainer {
  width: 100%;
  min-height: 1000px;
  text-align: center;
  border-bottom: 10px solid white;
  color: white;
}

.contentContainer {
  position: absolute;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.emp {
  font-size: 1.3em;
  font-weight: bold;
}

.projectDiv {
  width: 75%;
  margin: auto;
}

.arrowDiv {
  box-sizing: none;
  height: 0;
  width: 0;
  border: 20px solid transparent;
  position: absolute;
  top: 45%;
  bottom: 45%;
}

.leftArrowDiv {
  border-right: 20px solid red;
  left: 10px;
}

.leftArrowDiv:hover {
  border-right: 20px solid pink;
}

.rightArrowDiv {
  border-left: 20px solid red;
  right: 10px;
}

.rightArrowDiv:hover {
  border-left: 20px solid pink;
}

#homeContentDiv td:hover {
  cursor: pointer;
  color: blue;
  transition: color 200ms linear;
}

.component-enter {
  transform: rotateY(90deg) rotateX(90deg);
}

.component-enter-active {
  transform: rotateY(0deg) rotateX(0deg);
  transition: transform 300ms ease-out 300ms;
}

.component-leave {
  transform: rotateY(0deg) rotateX(0deg);
}

.component-leave-active {
  transform: rotateY(90deg) rotateX(-90deg);
  transition: transform 300ms ease-in;
}

#contentSpace {
  width: 90%;
  max-width: 1000px;
  min-height: 600px;
  text-align: center;
  margin: 20px auto;
  color: black;
  position: relative;
}