* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, Serif;
}

h1 {
  padding: 20px;
}

p {
  padding: 10px;
}

.homeContainer {
  width: 100%;
  min-height: 1000px;
  background: linear-gradient(to bottom right,
    rgba(45, 6, 56, 1),
    rgba(131, 11, 168, 1)
  );
  padding: 60px;
  color: orange;
}

.headerContainer {
  width: 100%;
  min-height: 1000px;
  text-align: center;
  border-bottom: 10px solid white;
  color: white;
}

.contentContainer {
  position: absolute;
  background: white;
  width: 100%;
  min-height: 100%;
  box-shadow: 0px 0px 50px 5px black, 0px 0px 10px 2px rgba(45, 6, 56, 1) inset;
  padding: 10px;
}

.emp {
  font-size: 1.3em;
  font-weight: bold;
}

.projectDiv {
  width: 75%;
  margin: auto;
}

.arrowDiv {
  box-sizing: none;
  height: 0;
  width: 0;
  border: 20px solid transparent;
  position: absolute;
  top: 45%;
  bottom: 45%;
}

.arrowDiv:hover {
  cursor: pointer;
}

.leftArrowDiv {
  border-right: 20px solid red;
  left: 10px;
}

.leftArrowDiv:hover {
  border-right: 20px solid pink;
}

.rightArrowDiv {
  border-left: 20px solid red;
  right: 10px;
}

.rightArrowDiv:hover {
  border-left: 20px solid pink;
}

.component-enter {
  transform: rotateY(90deg) rotateX(90deg);
}

.component-enter-active {
  transform: rotateY(0deg) rotateX(0deg);
  transition: transform 300ms ease-out 300ms;
}

.component-leave {
  transform: rotateY(0deg) rotateX(0deg);
}

.component-leave-active {
  transform: rotateY(90deg) rotateX(-90deg);
  transition: transform 300ms ease-in;
}

#contentSpace {
  width: 90%;
  max-width: 1000px;
  min-height: 600px;
  overflow: visible;
  text-align: center;
  margin: 20px auto;
  color: black;
  position: relative;
}

nav table {
  width: 100%;
  background: black;
  color: purple;
}

nav td {
  width: 25%;
  text-align: center;
  height: 50px;
}

nav td:hover {
  background: #141619;
  font-weight: bold;
  cursor: pointer;
}

.projectsThumb {
  border: 5px solid black;
  overflow: hidden;
  height: 400px;
  width: 60%;
  margin: auto;
  position: relative;
}

.hoverProjectsThumb {
  border: 5px solid black;
  overflow: hidden;
  height: 400px;
  width: 60%;
  margin: auto;
  position: relative;
  box-shadow: 0px 0px 10px 5px purple;
}

.thumbImgDiv {
  width: 100%;
  height: 200px;
  border-top: 5px solid black;
}

.thumbImgDiv img {
  width: 100%;
}

.hiddenThumbDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  background: transparent;
  cursor: pointer;
  z-index: 2;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  align-items: center;
}

.hiddenThumbDiv h2 {
  background: white;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.hidden {
  display: none;
}